@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

//Colors
$clr-blue: hsl(177, 68%, 64%);
$clr-orange: hsl(12, 94%, 65%);
$clr-yellow: hsl(33, 100%, 70%);
$clr-white: hsl(20, 33%, 98%);
$clr-black: hsl(231, 21%, 12%);

//Font family
$ff: 'IBM Plex Sans', sans-serif;

//Font weight
$fw-regular: 400;
$fw-bold: 700;

//Font size
$fs: 16px;

